<!-- <div *ngFor="let produit of produits1 | async">
  111111111
  <div>{{produit.libelle}}
  {{produit.categorie}}
  {{produit.prixvente}}
  {{produit.dateLimite}}
</div>

<hr>

<div *ngFor="let produit of produit3 | async">
  222222222222
  <div>{{produit.libelle}}
  {{produit.categorie}}
  {{produit.prixvente}}
  {{produit.dateLimite}}
</div>

<hr>

<div *ngFor="let produit of produit4 | async">
  33333333333333
  <div>{{produit.libelle}}
  {{produit.categorie}}
  {{produit.prixvente}}
  {{produit.dateLimite}}
</div> -->

<!-- <hr>

<div *ngFor="let produit of produit5">
  {{produit.libelle}}
  {{produit.categorie}}
  {{produit.prixvente}}
  {{produit.dateLimite}}
  {{produit.quantiteRestante}}
</div> -->

<div *ngFor="let commande of commandes1 | async">
  {{commande.dateAchat}}
  {{commande.prixAchat}}
  <div *ngFor="let produit of commande.listeProduits">
      {{produit}}
      <!-- <span>{{subscribeObservableSearch6(produit)}}</span> -->
      <span>{{hasMerguez}}</span>
    <span [hidden]="hasMerguez ? 'visible' : 'hidden'"> {{produit}}</span>
  </div>
</div>

<!-- <div *ngFor="let commande of commandes2">
  {{commande.dateAchat}}
  {{commande.prixAchat}}
  <div *ngFor="let produit of commande.listeProduits">
      {{produit}}
    <span [hidden]="(search6(produit)) ? 'visible' : 'hidden'"> {{produit}}</span>
  </div>
</div> -->

test smartgit
test smartgit 2 push dev sur master
test smartgit 3
test feature
test feature 2
test 4 feature